*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
     width: 100%; 
    min-height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 400px;
    height: auto;
    background-color: grey;
    border: 0px solid #f3f3f4;
}

#screen{
    width: 90%;
    height: 100px;
    margin: 25px;
    border: none;
    outline: none;
    font-size: 32px;
    text-align: right;
    background-color: #f1f2f3;
    color: black;
}

.btn{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    padding: 5px;
    /* margin-top: 10px; */
}

button{
    text-align: center;
    width: 70px;
    height: 40px;
    margin: 5px 1px;
    cursor: pointer;
    background-color: #f8f8f8;
    border: 0;
    font-size: 15px;
}

.btn1{
    border: 0;
    margin-left: 18px;
    padding: 0px;
}


.btn1 button{
        /* padding: 0;
    margin: 0;
    border: 0; */
    width: 70px;  
  
}

.btn2{
    border: 0;
    margin-left: 18px;
    padding: 0px;
   
}

/* button .btn2{
    padding: 0;
    margin: 0;
    border: 0;
} */

.btn2 button{
    width: 67px;
}

.btn3{
    display: flex;
    justify-content: start;
    margin-left: 18px;
   
}

.btn3 button{
    width: 150px;
}

.btn3 img{
    /* margin: auto; */
    margin-bottom: 5px;
    background-color: #f1f2f3;
}